.navbarStyle {
  margin-top: 50px;
}
.space {
  margin-left: 10px;
}
.main-container {
  margin-top: 20px;
}
input[type="text"],
select.form-control {
  background: transparent;
  border: none;
  border-bottom: 1px solid #2c90e2;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
}
select {
  background: #2c90e2;
  color: #fff;
  text-shadow: 0 1px 0 black;
}
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.fast {
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.fadeIn {
  animation-name: fadeIn;
}
.credits {
  border: 2px solid gray;
  background: #fff;
  border-radius: 25px;
}
.marginCards {
  margin-top: 15px;
}
